<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterApp.haus.home.title">Haus</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-haus" [routerLink]="['/haus/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterApp.haus.home.createLabel">
            Create new Haus
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="haus?.length === 0">
        <span jhiTranslate="jhipsterApp.haus.home.notFound">No haus found</span>
    </div>
    <div class="table-responsive" *ngIf="haus?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterApp.haus.nr">Nr</span></th>
            <th><span jhiTranslate="jhipsterApp.haus.name">Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let haus of haus ;trackBy: trackId">
                <td><a [routerLink]="['/haus', haus.id, 'view' ]">{{haus.id}}</a></td>
                <td>{{haus.nr}}</td>
                <td>{{haus.name}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/haus', haus.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/haus', haus.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'haus', { outlets: { popup: haus.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
