<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="haus">
            <h2><span jhiTranslate="jhipsterApp.haus.detail.title">Haus</span> {{haus.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.haus.nr">Nr</span></dt>
                <dd>
                    <span>{{haus.nr}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.haus.name">Name</span></dt>
                <dd>
                    <span>{{haus.name}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/haus', haus.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
